<div class="container">
  <h4>Search for books</h4>
  <div>
    <form [formGroup]="formGroup">
      <div class="mb-3">
        <label for="search" class="form-label">Search</label>
        <input type="text" id="search" class="form-control" formControlName="search">
        <div class="invalid-feedback">
          Please provide at least two characters to search.
        </div>
      </div>
    </form>
  </div>

  <app-book-card *ngFor="let book of books$ | async"
    [book]="book"
    [showSelectLink]="false">
  </app-book-card>
</div>
