<h2>Book details</h2>

<div>
  <label for="title">Title</label>
  <input type="text" id="title" [(ngModel)]="book.title">
</div>

<div>
  <label for="author">Author</label>
  <input type="text" id="author" [(ngModel)]="book.author">
</div>

<div>
  <label for="year">Year</label>
  <input type="number" id="year" [(ngModel)]="book.year">
</div>

<div>
  <button (click)="save()">Save</button>
  <button (click)="revert()">Revert</button>
</div>

<div>
  {{ book.title}}, {{ book.author}}, {{ book.year}}.
</div>
